/* style.css */

body {
	font-family: 'Titillium Web', sans-serif;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4196f6;
}

.header {
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
}

.center {
  width: 100%;
  text-align: center;
  color: white;
}

.outline {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.feature {
  fill: #ccc;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;

}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

.legend {
  font-size: 12px;
}

.legend:hover circle {
  cursor: pointer;
  opacity: .5;
  -webkit-box-shadow: 0px 0px 10px 2px lime;
  -moz-box-shadow: 0px 0px 10px 2px lime;
  box-shadow: 0px 0px 10px 2px lime;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.button-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btn {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: 6px 12px;
  color: rgb(110, 28, 233);
  border: 1px solid rgb(110, 28, 233);
  transition: background 300ms ease-in-out;
  border-radius: 40px;
}

.btn:hover, .btn:active, .btn:focus {
  -webkit-appearance: none;
  appearance: none;
  color: inherit;
  background: rgb(110, 28, 233);
  background: linear-gradient(-134deg, purple 0%, rgb(110, 28, 233) 100%);
  color: white;
  border: 1px solid rgb(110, 28, 233);
  transition background 300ms ease-in-out;
  outline: 0;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(110, 28, 233, 0.8);
  -moz-box-shadow: 2px 2px 10px 0 rgba(110, 28, 233, 0.8);
  box-shadow: 2px 2px 10px 0 rgba(110, 28, 233, 0.8);
}

.btn-hide {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.btn-show {
  opacity: 1;
  height: auto;
  visibility: visible;
}